{% load static %}

<div class="{{ instance.get_classes }} card">
    <div class="image">
        <img src="{% static instance.photo.url %}">
    </div>
    <div class="content">
        <div class="header">{{ instance.header }}</div>
        <div class="meta">
            {{ instance.position }}
        </div>
        <div class="description">
            {{ instance.description }}
        </div>
    </div>
    <div class="extra content">
        <span class="right floated">
            {{ instance.right_bottom_content }}
        </span>
        <span>
            <a href="mailto:{{ instance.email }}"><i class="enveloper open icon"></i> {{ instance.email }}</a>
        </span>
    </div>
</div>