{% load static easy_thumbnails_tags %}

<div class="{{ instance.get_classes }} card">
    <div class="image">
        <img src="{% if instance.photo %}{% thumbnail instance.photo 320x320 crop %}{% endif %}">
    </div>
    <div class="content">
        <div class="header">{{ instance.header }}</div>
        <div class="meta">
            {{ instance.company_position }}
        </div>
        <div class="description">
            {% if instance.description %}{{ instance.description }}{% endif %}
        </div>
    </div>
    <div class="extra content">
        <span class="right floated">
            {% if instance.right_bottom_content %}{{ instance.right_bottom_content }}{% endif %}
        </span>
        <span>
            <a href="mailto:{{ instance.email }}"><i class="envelope outline icon"></i> {{ instance.email }}</a>
        </span>
    </div>
</div>